{% load static %}
<div id="footer">
    <h2>SUBSCRIBE TO OUR LATEST COLLECTIONS</h2>
    <div id="signup-form">
        <input type="email" placeholder="Enter your email id">
        <button type="submit">SUBMIT<img src="{% static '/images/next.png' %}" class="icon-img" alt=""></button>
    </div>
    <div id="footer-content">
        <div class="logo content">
            <h3>LOGO</h3>
        </div>
        <div class="footer-links content">
            <ul>
                <li>
                    <h3>Collections</h3>
                </li>
                <li><a href="javascript:void(0)">Mens</a></li>
                <li><a href="javascript:void(0)">Womens</a></li>
                <li><a href="javascript:void(0)">Kids</a></li>
                <li><a href="javascript:void(0)">Party</a></li>
                <li><a href="javascript:void(0)">Winter</a></li>
                <li><a href="javascript:void(0)">Summer</a></li>
            </ul>
        </div>
        <div class="contact content">
            <ul>
                <li>
                    <h3>Contact</h3>
                </li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i><address>Address</address></a></li>
                <li><a href="tel:7304431820"><i class="fa-solid fa-phone"></i> +91 7304431820</a></li>
            </ul>

        </div>
    </div>
</div>