{% extends "base.html" %}
{% load static %}

{% block description %} {{product.name}} {% endblock %}
{% block keywords %} {{product.name}} {% endblock %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<main id="view-product">
    <div id="share-pop">
        <div id="share-container">
            <div class="share-head"><h3>Share</h3> <a href="#" onclick="sharePop('close')"><img src="{% static 'estore/images/close.png'%}" class="tiny-img" alt=""></a></div>
            <div class="share-body">
                <a href="javascript:void(0)" onclick="copy('{{product.get_absolute_url}}')"><img src="{% static 'estore/images/copy.png'%}" alt=""></a>
                <a href="https://wa.me/" target="_blank"><img src="{% static 'estore/images/whatsapp.png'%}" alt=""></a>
                <a href="https://instagram" target="_blank"><img src="{% static 'estore/images/instagram.png'%}" alt=""></a>
                <a href="http://www.facebook.com/sharer/sharer.php?u=" target="_blank"><img src="{% static 'estore/images/facebook.png'%}" alt=""></a>
                <a href="https://wa.me/" target="_blank"><img src="{% static 'estore/images/gmail.png'%}" alt=""></a>
            </div>
        </div>
    </div>
    <div id="product-view-container">
        <div id="slider" class="slider-container">
            <div id="slides">
                <div class="slide">
                    <img src="/media/{{product.image}}" alt="">
                </div>
            </div>
            <div id="slide-dots">
                <span class="dot"></span>
            </div>
        </div>
        <div id="detail">
            <div class="detail-head">
                <h2>{{product.name}}</h2>
                <div class="imgs">
                    <a href="#"><img src="{% static 'estore/images/heart.png'%}" alt=""></a>
                    <a href="#" onclick="sharePop('open')"><img src="{% static 'estore/images/share.png'%}" alt=""></a>
                </div>
            </div>
            <div class="rating">
                <img src="{% static 'estore/images/star-pink.png' %}" alt=""/>
                <img src="{% static 'estore/images/star-pink.png' %}" alt=""/>
                <img src="{% static 'estore/images/star-pink.png' %}" alt=""/>
                <img src="{% static 'estore/images/star-black.png' %}" alt=""/>
                <img src="{% static 'estore/images/star-black.png' %}" alt=""/>
            </div>
            <div id="table-data" class="detail-table">
                <table>
                    <tr>
                        <th>Category</th>
                        <td>Electronics</td>
                    </tr>
                    <tr>
                        <th>Chargeable</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th>Battery operated</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th>Warranty</th>
                        <td>7 Years</td>
                    </tr>

                </table>
            </div>
            <a href="javascript:void(0)" class="more-btn" onclick="toggleMore(event,'table-data')" data-collapsed="true">more</a>
            <div id="description">
                <p>{{product.desc}}</p>
            </div>
            <a href="javascript:void(0)" class="more-btn" onclick="toggleMore(event,'description')" data-collapsed="true">more</a>
            <div class="action-btns">
                <a href="#" class="primary-btn order-btn">{{product.price}} /-</a>
                <a href="javascript:void(0)" class="border-btn add-to-cart" onclick="submitCart('{{user.id}}','{{product.id}}')">Add to Cart</a>
            </div>
        </div>
    </div>

    
</main>

<script>
    function submitCart(user='None',product_id){
        if(user!='None'){
            console.log('submitting form with', user, product_id);
            var xhr = new XMLHttpRequest();
            let cookie = document.cookie;
            var csrfToken = localStorage.getItem('csrfToken');
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken',csrfToken);
            formData.append('user_id',user);
            formData.append('product_id',product_id);
            xhr.onreadystatechange = function(){
                if (xhr.readyState === XMLHttpRequest.DONE){
                    if( xhr.status === 200){
                        alert(`${JSON.parse(xhr.responseText).message}`);
                    }else{
                        console.error('Error', xhr.status);
                    }
                }
            };
            xhr.open('POST', '/update-cart/', true);
            xhr.send(formData);
        }else{
            alert('Please Login');
        }
    }

    window.onload = function(){
        function slide(targetele){
            const slides = targetele;
            var slideNum = 1;
            const dots = document.getElementById('slide-dots');
            for(let i=1;i<slides.childElementCount;i++){
                var ele = document.createElement('span');
                ele.classList.add('dot');
                dots.appendChild(ele);
            }
            dots.children[0].style.backgroundColor = 'crimson';
            dots.children[0].style.borderColor = 'crimson';
            setInterval(() => {
                var offset = 'translateX(calc(-' + (slides.clientWidth * (slideNum%slides.childElementCount)) + 'px' + ' - ' + slideNum%slides.childElementCount + 'rem)';
                slides.style.transform = offset;
                dotSlide(slideNum%slides.childElementCount);
                slideNum++;
            }, 4000);
        }
        function dotSlide(dotNum){
            const dots = document.getElementById('slide-dots');
            for(let i=0;i<dots.children.length;i++){
                if(i!==dotNum){	
                    dots.children[i].style.backgroundColor = '#fff';
                    dots.children[i].style.borderColor = '#292929';
                }
            }
            dots.children[dotNum].style.backgroundColor = 'crimson';
            dots.children[dotNum].style.borderColor = 'crimson';
        }
        slide(document.getElementById('slides'));

    }


    function toggleMore(event,element){
        const ele = document.getElementById(element);
        var collapsed = event.target.dataset['collapsed'];
        if(collapsed=="true"){
            ele.style.height = 'auto';
            event.target.dataset['collapsed'] = "false";
        }else if(collapsed=="false"){
            ele.style.height = '';
            event.target.dataset['collapsed'] = "true";
        }
    }
    function sharePop(action){
        if(action==='open'){
            document.getElementById('share-pop').style.display = 'block';
        }else{
            document.getElementById('share-pop').style.display = 'none';
        }
    }
    function copy(text='Unable to copy'){
        navigator.clipboard.writeText(window.location.href);
    }
</script>

 
{% endblock %}